<app-dialog>
	<div id="account-title-bar" class="account-title-bar">

	</div>
	<div id="account-dialog" style="padding: 60px 20px 20px 20px;">
		<h1 style="font-weight: 800; margin-bottom: 20px;">
			New Palette
		</h1>
		<input type="text" class="input" name="" value="" style="display: block; width: 100%; margin-bottom: 20px;" placeholder="Search">
		<div style="display: flex; justify-content: flex-end;">
			<button type="button" class="button" name="button">
				Cancel
			</button>
			<button type="button" class="button button--active" style="margin-left: 20px;">
				Create
			</button>
		</div>
	</div>
</app-dialog>
