<app-dialog>
	<div id="account-title-bar" class="account-title-bar">

	</div>
	<div id="account-dialog" style="height: 500px; overflow-y: scroll; padding: 60px 20px 20px 20px;">
		<h1 style="font-weight: 800; margin-bottom: 20px;">
			Share
		</h1>
		<input type="text" class="input" name="" value="" style="display: block; width: 100%; margin-bottom: 20px;" placeholder="Search">
		<div class="table-view" style="margin: 0;">
			<a href="#" class="table-view-item" draggable="false">
				HEX #123456
			</a>
			<a href="#" class="table-view-item" draggable="false">
				RGB rgb(123, 123, 123)
			</a>
		</div>
		<div class="" style="height: 1000px;">

		</div>
	</div>
</app-dialog>
