.setup-aurora {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0.4;

	.setup-bubble {
		position: absolute;
		top: 0;
		left: 0;
		animation: rainbow;
		animation-duration: 10s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
		backface-visibility: hidden;
		perspective: 1000;
		transform: translate3d(0,0,0);
		transform: translateZ(0);

		&:nth-of-type(1) {
			width: 20vmax;
			height: 20vmax;
			transform: rotate(-45deg);
			background: linear-gradient(to right, #85FFBD 0%, #8BC6EC 25%, #FFFB7D 50%, #B5FFFC 75%, #85FFBD 100%);
			background-size: 200% auto;
			animation-delay: 2s;
			border-radius: 10vmax;
		}

		&:nth-of-type(2) {
			width: 20vmax;
			height: 20vmax;
			top: 10vh;
			left: 80vw;
			transform: scale(-1) rotate(-45deg);
			background: linear-gradient(to right, #FBAB7E 0%, #B721FF 25%, #FAACA8 50%, #FA709A 75%, #FBAB7E 100%);
			background-size: 200% auto;
			border-radius: 10vmax;
		}

		&:nth-of-type(3) {
			width: 30vmax;
			height: 30vmax;
			top: 30vh;
			left: 40vw;
			transform: rotate(-45deg);
			background: linear-gradient(to right, #FFDEE9 0%, #FAD961 25%, #FAACA8 50%, #F76B1C 75%, #FFDEE9 100%);
			background-size: 200% auto;
			animation-delay: 3s;
			border-radius: 15vmax;
		}

		&:nth-of-type(4) {
			width: 20vmax;
			height: 40vmax;
			top: 50vh;
			left: 85vw;
			transform: scale(-1) rotate(-45deg);
			background: linear-gradient(to right, #FF2525 0%, #FAACA8 25%, #52ACFF 50%, #FAACA8 75%, #FF2525 100%);
			background-size: 200% auto;
			border-radius: 20vmax;
		}

		&:nth-of-type(5) {
			width: 40vmax;
			height: 40vmax;
			top: 50vh;
			left: -5vw;
			transform: scale(-1) rotate(45deg);
			background: linear-gradient(to right, #FBAB7E 0%, #B721FF 25%, #FAACA8 50%, #FA709A 75%, #FBAB7E 100%);
			background-size: 200% auto;
			animation-delay: 5s;
			border-radius: 20vmax;
		}
	}
}

.setup-aurora-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(45deg, RGB(var(--background-color), 0%) 0%, RGB(var(--background-color)) 33%, RGB(var(--background-color), 0%) 50%, RGB(var(--background-color)) 66%, RGB(var(--background-color), 0%) 100%);
	background-size: 200% auto;
	animation-delay: 5s;
	animation: rainbow;
	animation-duration: 10s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	opacity: 0.5;
}
@media (prefers-color-scheme: light) {
	.setup-aurora {
		opacity: 0.75;
	}

	.setup-aurora-overlay {
		opacity: 0.75;
	}
}

.setup-aurora-blur {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	backdrop-filter: blur(100px);
	backface-visibility: hidden;
	perspective: 1000;
	transform: translate3d(0,0,0);
	transform: translateZ(0);
}

.setup-dialog {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 450px;
}

.setup-text {
	font-size: 50px;
	font-weight: 800!important;
	margin-bottom: 40px;
}

.setup-hint {
	font-size: 1.3rem;
	margin-bottom: 40px;
	line-height: 1.6;
	opacity: 0.9;
}

.setup-text--colourful {
	font-size: 50px;
	font-weight: 800!important;
	background-color: #21D4FD;
	background: linear-gradient(to right, #21D4FD 0%, #B721FF 25%, #FA709A 50%, #74EBD5 75%, #21D4FD 100%);
	background-size: 200% auto;
	animation: rainbow;
	animation-duration: 10s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
@keyframes rainbow {
	0% {
		background-position: 0 center;
	}

	50% {
		background-position: 100% center;
		border-radius: 0;
	}

	100% {
		background-position: 200% center;
	}
}

.setup-button {
	font-size: 1.1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-right: 20px;

	&:hover {
		.setup-arrow-circle {
			margin-right: 8px;

			&:after {
				width: 4px;
			}

			&:first-of-type {
				opacity: 0.33;
			}

			&:nth-of-type(2) {
				opacity: 0.66;
				transition-delay: 0.1s;
			}
		}
	}
}

.setup-arrow-container {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin-left: 15px;
}

.setup-arrow-circle {
	display: inline-block;
	position: relative;
	width: 4px;
	height: 4px;
	border-radius: 100px;
	transition: 0.3s ease;

	&:after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: 11px;
		background-color: RGB(var(--foreground-color));
		border-radius: inherit;
		transition: inherit;
		transition-delay: inherit;
	}
}

.setup-arrow {
	display: inline-block;
	height: 18px;

	* {
		fill: RGB(var(--foreground-color));
	}
}

.setup-login-register-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 40px;

	.button {
		border-radius: 36px;
		line-height: 1.6;
		font-size: 1.2rem;
		padding: 25px;
		padding-bottom: 20px;
		text-align: left;
	}

	@media screen and (max-width: 650px) {
		grid-template-columns: none;
		grid-template-rows: 1fr 1fr;
	}
}

.setup-login-register-icon {
	position: relative;
	width: 36px;
	height: 36px;
	border-radius: 18px;
	margin-bottom: 20px;
	overflow: hidden;
	&:after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		border: 2px solid RGB(var(--foreground-color));
		border-radius: inherit;
	}
}

.setup-field-hint {
	font-size: 1.3rem;
	margin-bottom: 10px;
	line-height: 1.6;
	opacity: 0.9;
}

.setup-input {
	width: 300px;
	margin-bottom: 30px;
	&:last-of-type {
		margin-bottom: 40px;
	}
}
