/* Defaults */
:root {
	--background-color: 255, 255, 255;
	--foreground-color: 50, 50, 50;
	--input-color: 242, 242, 242;
	--accent-color: #FF949B;
	--red: #ff3b30;
	--orange: #FF9500;
	--yellow: #FFCD02;
	--green: #4cd964;
	--blue: #1D62F0;
	--indigo: #5856D6;
	--border-opacity: 0.1;
	--padding: 25px;
	--border-radius-small: 8px;
	--border-radius-medium: 14px;
	--border-radius-large: 20px;
}
/*:root {
		--background-color: 20, 20, 20;
		--foreground-color: 240, 240, 240;
		--input-color: 40, 40, 40;
		--accent-color: #FF949B;
		--border-opacity: .1;
	}*/
body,
html {
	width: 100vw;
	height: 100%;
	overflow: hidden;
	background-color: RGB(var(--background-color));
}

body {
	display: grid;
	grid-template-columns: 300px 300px 1fr;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, sans-serif;
	font-weight: 700;
	font-size: 13px;
	-webkit-tap-highlight-color: transparent;
	-ms-overflow-style: -ms-autohiding-scrollbar;
	color: RGB(var(--foreground-color));
}
.list {}

.list .item {
	width: calc(100% - 40px);
	margin: 0 auto 15px auto;
}

/* Title Bar */
.title_bar {
	display: grid;
	grid-template-columns: 1fr auto;
	grid-gap: var(--padding);
	margin: 40px 20px 20px;
}

.title_bar h1 {
	line-height: 34px;
}

.title_bar .buttons button {
	width: 34px;
	height: 34px;
	border-radius: 100px;
	margin-left: 10px;
	padding: 0;
}

.title_bar .buttons button img {
	max-width: 16px;
	max-height: 18px;
	pointer-events: none;
}
/* Buttons */
button {
	position: relative;
	padding: 10px 15px;
	outline: 0;
	border: 0;
	border-radius: var(--border-radius-small);
	background-color: RGB(var(--input-color));
	box-shadow: inset 0 -1px 2px rgba(0, 0, 0, 0.015);
	transition: 0.2s ease;
	transform: translateZ(0);
}

button:before {
	content: "";
	position: absolute;
	top: 5px;
	left: 5px;
	right: 5px;
	bottom: -5px;
	background: inherit;
	filter: blur(10px);
	z-index: -1;
	opacity: 0.2;
	transition: 0.2s ease;
}

button:hover:before {
	opacity: 0.4;
}

button:hover {
	filter: brightness(0.975);
	text-shadow: 0 1px 1px rgba(255, 255, 255, 1);
}

button:active {
	transform: translateZ(0) translateY(1px);
	filter: brightness(0.95) !important;
}

button:active:before {
	bottom: 0;
	opacity: 0.4;
}
@media (prefers-color-scheme: dark) {
	button:before {
		background: black;
	}

	button:hover {
		filter: brightness(1.4);
	}
}

.action_button {
	background-color: var(--blue);
	color: white;
}

.bad_action_button {
	background-color: var(--red);
	color: white;
}

.action_button:hover,
.bad_action_button:hover {
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	filter: brightness(1.05);
}

.action_button:active,
.bad_action_button:active {
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
}

.buttons {
	display: flex;
}

.buttons button {
	margin-left: 10px;
}

.buttons button:first-of-type {
	margin: 0 !important;
}
/* Headings */
h1 {
	font-size: 25px;
	font-weight: 700;
}
