<div class="title-bar">
	<h1>Colors</h1>
	<div class="buttons">
		<button type="button" class="button">
			<svg width="36px" height="36px" viewBox="0 0 36 36" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
				<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
					<path d="M19,17 L27,17 C27.5522847,17 28,17.4477153 28,18 C28,18.5522847 27.5522847,19 27,19 L19,19 L19,27 C19,27.5522847 18.5522847,28 18,28 C17.4477153,28 17,27.5522847 17,27 L17,19 L9,19 C8.44771525,19 8,18.5522847 8,18 C8,17.4477153 8.44771525,17 9,17 L17,17 L17,9 C17,8.44771525 17.4477153,8 18,8 C18.5522847,8 19,8.44771525 19,9 L19,17 Z" id="Path" fill="#FFFFFF"></path>
				</g>
			</svg>
		</button>
	</div>
</div>
<div class="list">
	<div class="item item--selected">
		<div class="color">

		</div>
		Right away
	</div>
	<div class="item">
		<div class="color">

		</div>
		Right away
	</div>
	<div class="item">
		<div class="color">

		</div>
		Right away
	</div>
	<div class="item">
		<div class="color">

		</div>
		Right away
	</div>
	<div class="item">
		<div class="color">

		</div>
		Right away
	</div>
	<div class="item">
		<div class="color">

		</div>
		Right away
	</div>
	<div class="item">
		<div class="color">

		</div>
		Right away
	</div>
	<div class="item">
		<div class="color">

		</div>
		Right away
	</div>
</div>
<!-- <div class="list">
	<div class="item" *ngFor="let colorCollection of dataService.colorCollections" (click)="onSelect(colorCollection)" [ngClass]="{'selected': selectedColorCollection == colorCollection}">
		<div class="color" [style.background]="colorCollection.hex"></div>
		<p>{{ colorCollection.name }}</p>
	</div>
</div> -->
