<app-dialog>
	<div id="account-title-bar" class="account-title-bar"></div>
	<div id="account-dialog" style="height: 500px; overflow-y: scroll;">
		<div id="account-bg-container" class="account-bg-container">
			<div class="account-bg">

			</div>
		</div>
		<div id="account-image" class="account-image"></div>
		<div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
			<h2 style="font-weight: 800; margin-top: 20px; margin-bottom: 70px;">
				John Smith
			</h2>
		</div>
		<div class="table-view">
			<a href="#" class="table-view-item" draggable="false">
				CompSoc
			</a>
			<a href="#" class="table-view-item" draggable="false">
				Department for ??
			</a>
		</div>
		<div class="table-view">
			<a href="#" class="table-view-item" draggable="false">
				Edit my Profile
			</a>
		</div>
		<div class="table-view">
			<a href="#" class="table-view-item" draggable="false">
				Sign out
			</a>
		</div>
	</div>
</app-dialog>
